@charset "utf-8";
@import url(//http://www.google.com/fonts/earlyaccess);


* {
    margin: 0; padding: 0;
    font-family: 'Jeju Gothic', sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

@media only screen and (min-width : 1025px) {
	/* index 메인화면 슬라이드 부분 */
       section {
        margin: 0 auto;
        width: 1400px; height: 440vh;
    }
    #container {
        width: 100%; height: 310vh;
        position: absolute; top: 17.5%; left:0;
    }
    #first_main {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    #slideshow-containerider {
        width: 100%; height: 80vh;
        margin: 0 auto;
    }
    .mySlideDiv {
        width: 100%; height: 80vh;
        position: relative;
    }
    .fimg {
        background: url("../images/slide/hello.png") no-repeat 240px / cover;
    }
    .simg {
        background: url("../images/slide/hello2.png") no-repeat 700px / contain;
    }
    .timg {
        background: url("../images/slide/hello3.png") no-repeat 630px / contain;
    }
    .yimg {
        background: url("../images/slide/hello4.jpg") no-repeat 800px / contain;
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
    .search_bar {
        width: 40%;
        padding: 15px;
        background: #1A2B49;
        border-radius: 10px;
        z-index: 999;
        position: absolute; top: 65%; left: 7%;
    }
    .search_bar > input {
        width: 80%; height: 40px;
        z-index: 9999;
        border: none;
        text-indent: 50px;
        border-radius: 10px;
        outline: none;
        background: #fff url("../images/icon/search.png") no-repeat 10px;
    }
    .search_bar button {
        width: 15%; height: 40px;
        border: none;
        color: #fff;
        font-weight: bold;
        margin-left: 5px;
        border-radius: 20px;
        background-color: #0071EB;
    }
    .search_bar button:hover {
        color: #000;
        background-color: #fff;
        border: 1px solid rgb(219, 219, 219);
        transition: 0.4s;
    }
    .welcome_msg {
        font-size: 40px;
        font-weight: bold;
        position: absolute; top: 43%; left: 7%;
    }
    /* main_second pinbox zone */
    #second_main {
        width: 100%; height: 80vh;
    }
    .pinbox_wrap {
        width: 70%; height: 100%;
        margin: 0 auto;
    }
    .pinbox_wrap > h2 {
        text-align: center;
        padding-top: 20px;
        margin-bottom: 40px;
    }
   .pinbox {
        width: 30%; height: 60%;
        border: 1px solid rgb(158, 158, 158);
        border-radius: 20px;
        float: left;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
        margin: 0 1.5% 0;
    }

    .pinbox_image {
        width: 100%; height: 60%;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    .pinbox_image img {
        width: 100%; height: 100%;
        border-radius: 20px 20px 0 0;
        transform: scale(1);
        transition: all 0.5s ease-in-out; 
    }
    .image_box {
        width: 100%; height: 100%;
    }
    .pinbox_image:hover img {
        transform: scale(1.04);
    }
    .pinbox_text {
        padding: 20px;
        position: relative;
    }
    .text1 {
        width: 100%; height: 60%;
        margin: 10px 0 30px;
    }
    .text2 {
        width: 100%; height: 24px;
    }
    .companion_profile {
        float: left;
    }
    .companion_profile img {
        width: 24px; height: 24px;
        border: none;
        border-radius: 10px;
        float: left;
    }
    .companion_alias {
        float: left;
    }
    .companion_alias span {
        float: left;
        line-height: 24px;
        margin-left: 5px;
        font-weight: bold;
    }
    .companion_category {
        float: right;
        width: 50%;
        font-weight: bold;
        background-color: #dddddd;
        text-align: center;
    }
    .companion_region {
        width: 50%;
        text-indent: 25px;
        float: right;
        color: #0071EB;
        background: url("../images/icon/marker.png") no-repeat left;
        position: absolute; top: 0; left: 0;
        font-weight: bold;
    }

    
    /* third_main */
    #third_main {
        clear: both;
        width: 95%; height: 60vh;
        padding: 30px;
    }
    #region_content_wrap {
        width: 100%; height: 50vh;
        overflow: scroll;
    }
    #region_content_wrap::-webkit-scrollbar {
        width: 0.1px;
    }
    #region_content_wrap::-webkit-scrollbar-thumb {
        background-color: rgb(92, 92, 92, 0.5);
        border-radius: 10px;
        background-clip: padding-box;
        border: 4px solid transparent;
    }
    #region_content_wrap::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 10px;
    }
    
    .region_pin_wrap {
        width: 250%; height: 40vh;
        padding: 20px;
    }
    .region_pin_box {
        width: 9%; height: 43vh;
        border: 1px solid rgb(201, 201, 201);
        border-radius: 20px;
        margin-right: 1%;
        float: left;
        position: relative;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
        overflow: hidden;
    }
    .region_pin_box img {
        width: 100%; height: 100%;
        position: absolute; top: 0; left: 0;
        border-radius: 20px;
        z-index: -999;
        transform: scale(1);
        transition: all 0.5s ease-in-out;
    }
    .region_pin_box:hover img{
        transform: scale(1.05);
    }
    .region_pin_box a {
        width: 100%; height: 100%;
        display: block;
        border-radius: 20px;
        background-color: #000;
        opacity: 0.2;
        z-index: 99;
    }
    
    .region_pin_box span {
        position: absolute; top: 30px; left: 30px;
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        z-index: 9999;
    }

    .view_more {
        width: 9%; height: 43vh;
        float: left;
    }
    .view_more > a {
        display: block;
        padding: 20px;
        color: #000;
        background: url("../images/icon/right_arrow.png") no-repeat right;
        font-size: 30px;
        margin-top: 130px;
    }
    .view_more > a:visited {
        color: #000;
    }
    /* fourth_main */
    #fourth_main {
        width: 100%; height: 90vh;
        position: relative;   
    }
    .fourth_content {
        width: 95%; height: 90vh;
        margin: 0 auto;
    }
    .top_background {
        width: 100%; height: 50vh;
        border-bottom: 1px solid #000;
        background: url('../images/category/fourth_main.jpg') no-repeat center/ cover;
        position: relative;
    }
    .top_background:after {
        content: "";
        width: 100%; height: 50vh;
        background-color: #000;
        position: absolute; top: 0; left: 0;
        opacity: 0.4;
    }
    .top_background > span {
        color: #fff;
        margin: 30px 0 0 50px;
        font-size: 40px;
        position: absolute;
        z-index: 99;
    }
    .category {
        width: 95%; height: 450px;
        margin: 0 auto;
        position: absolute; top: 200px;
        overflow: scroll;
    }
    .category::-webkit-scrollbar {
        width: 0.1px;
    }
    .category::-webkit-scrollbar-thumb {
        background-color: rgb(92, 92, 92, 0.5);
        border-radius: 10px;
        background-clip: padding-box;
        border: 4px solid transparent;
    }
    .category::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 10px;
    }
    .category_pin_wrap {
        width: 260%;
    }
    .category_pin {
        width: 11%; height: 400px;
        margin: 0 30px 0 10px;
        background-color:#fff;
        border: 1px solid #dddddd;
        border-radius: 20px;
        float: left;
        position:relative;
        box-shadow: 0 10px 20px rgba(0,0,0,0.8);
        overflow: hidden;
    }
    .category_pin:hover img{
        transform: scale(1.05);
    }
    .category_pin:after{
        content: "";
        width: 100%; height: 400px;
        position: absolute; top: 0; left: 0;
        background-color:#000;
        border-radius: 20px;
        opacity: 0.3;
        z-index: 9;
    }
    .category_pin a {
        display: block;
        width: 100%; height: 400px;
        position: absolute; top: 0; left:0;
        z-index: 9999;
    }
    .category_pin img {
        width: 100%; height: 400px;
        border-radius: 20px;
        position: absolute; top:0; left: 0;
        transform: scale(1);
        transition: all 0.5s ease-in-out;
    }
    .category_pin span {
        color: #fff;
        font-weight: bold;
        position:absolute; top: 30px; left: 30px;
        font-size: 30px;
        z-index: 999;
    }
    .cview_more {
        width: 9%; height: 400px;
        float: left;
    }
    .cview_more > a {
        display: block;
        margin-top: 200px;
        color: #000;
        background: url("../images/icon/right-arrow.png") no-repeat right;
        font-size: 30px;
    }
    .cview_more > a:visited {
        color: #000;
    }
    /* fifth_main */
    #fifth_main{
        width: 100%; height: 120vh;
    }
    .fifth_content {
        width: 100%; height: 120vh;
        position: relative;
    }
    .fifth_content a {
        font-size: 30px;
        padding: 20px;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 100px;
        font-weight: bold;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
        position: absolute; top: 80%; left: calc(50% - 88.78px);
        z-index: 9999;
    }
    .fifth_content a:visited { 
        color:#000;
    }
    .fifth_content a:hover {
        background-color:#0071EB;
        border:none;
        color:#fff;
        transition: 0.5s;
    }
    .fifth_background {
        width: 100%; height: 100vh;
        background: url('../images/slide/castle2.jpg') no-repeat center / cover;
        position: relative;
        background-attachment: fixed;
        z-index: -999;
        
    }
    .fifth_background:before {
        content: "";
        width: 100%; height: 100vh;
        position: absolute; top: 0; left: 0;
        background: url("../images/slide/meet_ur2.png") no-repeat center / cover;
        z-index: -99999;
    }
}

@media only screen and (min-width : 1920px) {
    header {
        height: 200px;
        position: relative;
        z-index: 9999;
    }
    header:after {
        content: "";
        width: 100%; height: 130px;
        border-bottom: 1px solid rgb(224, 224, 224);
        position: absolute; top: 0; left: 0;
        z-index: -9999;
    }
    #gnb_zone {
        float: left;
        width: 60%;
        height: 130px;
    }
    #gnb_zone ul {
        width: 60%;
        margin-left: 20%;
    }
    .gnb_list {
        width: 33.3333%;
        float: left;
        height: 130px;
        line-height: 130px;
        text-align: center;
    }
    .gnb_btn {
        font-size: 25px;
        color: #000;
        font-weight: bold;
    }
    /* 서브네비 로그인 & 회원가입 */
    #snb_zone {
        width: 20%; height: 150px;
        float: right;
        position: relative;
    }
    .sub_list {
        float: left;
        width: 40%; height: 50px;
        background-color: #0071EB;
        margin-top: 14%;
        color: #fff;
        font-weight: bold;
        border-radius: 50px;
        text-align: center;
        margin-right: 20px;
        line-height: 50px;
    }
    .child_wrap {
        width: 50%;
        position: absolute; top: 75%; 
        border: 1px solid #000;
        border-radius: 20px;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 5px 20px rgba(88, 85, 85, 0.8);
        display: none;
    }
    .child_list {
        width: 40%; height: 40px;
    }
    .before1 {
        background: url('../image/icon/traveler.png') no-repeat 5px ;
        width: 100%; height: 40px;
        border-bottom: 1px solid rgb(187, 187, 187);
    }
    .before2 {
        background: url('../image/icon/companion.png') no-repeat 5px ;
        width: 100%; height: 40px;
    }
    .child_list a{
        display: block;
        line-height: 40px;
        font-weight: bold;
    }
    .child_list a:visited {
        color: #000;
    }
    .sub_list > a:visited {
        color: #fff;
    }
    .before2 {
        text-indent: 30px;
    }
    /* 메인 슬라이드쇼(동영상으로 대체 할지도 모름) */
    #main_slider {
        width: 100%; height: 80vh;
        margin: 0 auto;
        position: relative;
        z-index: -99;
    }
    .fimg {
        background: url("../images/slide/hello.png") no-repeat 480px / cover;
    }
    .simg {
        background: url("../images/slide/hello2.png") no-repeat 1000px / contain;
    }
    .timg {
        background: url("../images/slide/hello3.png") no-repeat 900px / contain;
    }
    .yimg {
        background: url("../images/slide/hello4.jpg") no-repeat 1000px / contain;
    }
    .search_bar {
        width: 40%;
        padding: 15px;
        background: #1A2B49;
        border-radius: 10px;
        z-index: 999;
        position: absolute; top: 60%; left: 10%;
    }
    .welcome_msg {
        font-size: 40px;
        font-weight: bold;
        position: absolute; top: 43%; left: 10%;
    }
    /* second content */
    #fourth_main {
        width: 100%; height: 90vh;
        position: relative;   
    }
    .fourth_content {
        width: 95%; height: 90vh;
        margin: 0 auto;
    }
    .top_background {
        width: 100%; height: 50vh;
        border-bottom: 1px solid #000;
        background: url('../images/slide/fourth_main.jpg') no-repeat center/ cover;
        position: relative;
    }
    .top_background:after {
        content: "";
        width: 100%; height: 50vh;
        background-color: #000;
        position: absolute; top: 0; left: 0;
        opacity: 0.4;
    }
    .top_background > span {
        color: #fff;
        margin: 30px 0 0 50px;
        font-size: 40px;
        position: absolute;
        z-index: 99;
    }
    .category {
        width: 95%; height: 450px;
        margin: 0 auto;
        position: absolute; top: 400px;
        overflow: scroll;
    }
    .category::-webkit-scrollbar {
        width: 0.1px;
    }
    .category::-webkit-scrollbar-thumb {
        background-color: rgb(92, 92, 92, 0.5);
        border-radius: 10px;
        background-clip: padding-box;
        border: 4px solid transparent;
    }
    .category::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 10px;
    }
    .category_pin_wrap {
        width: 200%;
    }
    .category_pin {
        width: 11%; height: 400px;
        margin: 0 30px 0 10px;
        background-color:#fff;
        border: 1px solid #dddddd;
        border-radius: 20px;
        float: left;
        position:relative;
        box-shadow: 0 10px 20px rgba(0,0,0,0.8);
        overflow: hidden;
    }
    .category_pin:hover img{
        transform: scale(1.05);
    }
    .category_pin:after{
        content: "";
        width: 100%; height: 400px;
        position: absolute; top: 0; left: 0;
        background-color:#000;
        border-radius: 20px;
        opacity: 0.3;
        z-index: 9;
    }
    .category_pin a {
        display: block;
        width: 100%; height: 400px;
        position: absolute; top: 0; left:0;
        z-index: 9999;
    }
    .category_pin img {
        width: 100%; height: 400px;
        border-radius: 20px;
        position: absolute; top:0; left: 0;
        transform: scale(1);
        transition: all 0.5s ease-in-out;
    }
    .category_pin span {
        color: #fff;
        font-weight: bold;
        position:absolute; top: 30px; left: 30px;
        font-size: 30px;
        z-index: 999;
    }
    .cview_more {
        width: 9%; height: 400px;
        float: left;
    }
    .cview_more > a {
        display: block;
        margin-top: 200px;
        color: #000;
        background: url("../images/icon/right-arrow.png") no-repeat right;
        font-size: 30px;
    }
    .cview_more > a:visited {
        color: #000;
    }
    .search_bar {
        width: 40%;
        padding: 15px;
        background: #1A2B49;
        border-radius: 10px;
        z-index: 999;
        position: absolute; top: 60%; left: 10%;
    }
    .welcome_msg {
        font-size: 40px;
        font-weight: bold;
        position: absolute; top: 43%; left: 10%;
    }
    /* second content */
    .pinbox_wrap > h2 {
        text-align: center;
        padding-top: 50px;
    }
    .pinbox {
        width: 30%; height: 50%;
        border: 1px solid #000;
        float: left;
    }
    .text1 {
        width: 100%; height: 60%;
        margin: 20px 0 30px;
    }
        .top_background {
        width: 100%; height: 50vh;
        border-bottom: 1px solid #000;
        background: url('../images/category/fourth_main.jpg') no-repeat center/ cover;
        position: relative;
    }
        .companion_region {
        width: 50%;
        text-indent: 25px;
        float: right;
        color: #0071EB;
        background: url("../images/icon/marker.png") no-repeat left;
        position: absolute; top: 10px; left: 5px;
        font-weight: bold;
    }
}