@charset "UTF-8";
@import url(//http://www.google.com/fonts/earlyaccess);


* {
    margin: 0; padding: 0;
    font-family: 'Jeju Gothic', sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* welcome */
#container {
    height: 100vh;
    background-color: #F5F6F7;
}
#content_wrap {
    margin: 0 auto;
    padding-top: 40px;
    width: 70%; height: 110vh;
}
#content {
    width: 40%; height: 110vh;
    margin: 0 auto;
}
#content h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;;
    font-weight: normal;
}
#content h1 > span {
    font-weight: bold;
}
#content > h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}
#text_box {
    text-align: center;
}
/* 홈버튼, 로그인버튼 */
#content a {
    display:block;
    width: 100%; height: 40px;
    line-height: 40px;
    border: none;
    background-color: #0071EB;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
